<app-menu-bar></app-menu-bar>
<app-title></app-title>
<div class="articles">

    <div class="articles_main">

    <app-big-card></app-big-card>

    </div>

    <div class="articles_others">

     <app-small-card
      cardImage="https://cdn.pixabay.com/photo/2016/11/18/15/44/audience-1835431_960_720.jpg"
      cardContent="Quando musica é musica de verdade... ela fica eternizada na mente e no coração! "
     >
    </app-small-card>
     <app-small-card
     cardImage="https://cdn.pixabay.com/photo/2019/10/04/05/42/workshop-4524838_960_720.jpg"
     cardContent="Fabricando musica... literalmente!!  "
     ></app-small-card>
     <app-small-card
     cardImage="https://cdn.pixabay.com/photo/2016/08/15/16/48/vinyl-1595847_960_720.jpg"
     cardContent="História da música!! "></app-small-card>

    </div>

</div>
